header {
 display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(to bottom, #2e3192, #312b7c); */
        background-color: rgb(255, 255, 255);

    padding: 0.5% 1%;
    height: 70px;
}
.company-logo {
  font-size: 2.5rem;
background: orangered;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: grab;
}
.nav-items {
  display: flex;
}
.nav-item {
     margin: 0 2rem;
    cursor: grab;
}
.lettre_nav {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-menu{
      display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border: 11px solid rgb(227, 242, 253);
    color: rgb(33, 150, 243);
    height: 48px;
    align-items: center;
    border-radius: 27px;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(227, 242, 253);
    
}
.user-menu:hover{
  transition: all 0.7s ease-in-out;
padding: 10px;
}