.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background-color: rgb(238, 242, 246); */
  border-bottom: 1px solid #f0f0f0;
}

.collapse-icon {
 position: absolute;
    top: -7%;
    left: 11%;
    cursor: pointer;
    font-size: x-large;
}
.menu-sidebar {
  background-color: rgb(204, 207, 210);
  color: #0e0e0e;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: #2e445a;
  color: #fff;
}

.menu-item.ant-menu-item-selected {
  background-color: #2e445a;
  color: #fff;
}
.menu-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(204, 207, 210);
  color: #0e0e0e;
  transition: all 0.3s ease-in-out;
}

.sidebar-footer {
    /* margin: 0.5% 0.75%; */
    padding: 1rem;
  background-color: rgb(204, 207, 210);
  border-radius: 9px;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  color: black;
  width: 100%;
      margin-block-end: 30%;
}

.menu-item {
  flex: 1;
}

.sidebar-footer-container {
  margin-top: auto;
}

