.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background-color: rgb(238, 242, 246); */
  border-bottom: 1px solid #f0f0f0;
}

.collapse-icon {
  background-color: #e9e5e5;
 position: absolute;
    top: -7%;
    left: 10%;
    cursor: pointer;
    font-size: x-large;
        transition: all 1.5s ease-in;
}
/* .collapse-icon:active {
    color: #1816d1;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);
    background-color: lavender;
} */
.menu-sidebar {
  background-color: rgb(204, 207, 210);
  color: #0e0e0e;
      transition: all 1.5s ease-in;
}
.scrollbar{
  overflow-y: auto;
  	height: 500px;

}
.scrollbar::-webkit-scrollbar
{
  height: 50px;
	width: 10px;
	background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148))); */
                     background-color: #2e445a;
}

.menu-item:hover {
  background-color: #2e445a;
  color: #fff;
}

.menu-item.ant-menu-item-selected {
  background-color: #2e445a;
  color: #fff;
}
.menu-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(204, 207, 210);
  color: #0e0e0e;
  transition: all 1.3s ease-in-out;
}

.sidebar-footer {
    /* margin: 0.5% 0.75%; */
    padding: 1rem;
  background-color: rgb(204, 207, 210);
  border-radius: 9px;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  color: black;
  width: 100%;
      margin-block-end: 30%;
}

.menu-item {
  flex: 1;
}

.sidebar-footer-container {
    margin-block: 20%;
}

